.btn-primary {
  color: $white;
}

.btn-outline-primary {
  background-color: lighten($primary, 37%);

  &:hover {
    color: darken($primary, 15%);
    background-color: lighten($primary, 30%);
  }
}
.btn-outline-secondary {
  background-color: lighten($secondary, 37%);

  &:hover {
    color: darken($secondary, 15%);
    background-color: lighten($secondary, 30%);
  }
}
