
.switch {
  border: 1px solid darken($primary, 10%);
  background: $primary;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  cursor: pointer;
  display: inline-block;

  box-shadow: inset 0 0 10px darken($primary, 15%);

  .switch-toggle {
    border: 1px solid $primary;
    box-shadow: 1px 1px 1px $primary;
    width: 25px;
    height: 24px;
    left: 0;
    border-radius: 12px;
    background: white;
    position: relative;
    transition: left .2s ease-in-out;
  }

  &.on {
    background: $secondary;
    border: 1px solid darken($secondary, 10%);
    box-shadow: inset 0 0 10px darken($secondary, 15%);

    .switch-toggle {
      left: 23px;
      border-color: $secondary;
      box-shadow: 1px 1px 1px $secondary;
    }
  }

  .disabled {
    cursor: not-allowed;
  }
}
